html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow: visible;
  pointer-events: none;
  position: relative;
  width: 100%;
}

.you-loop-page-ui {
  box-sizing: border-box;
  position: absolute;
  z-index: 2147483647;
  overflow: visible;
  pointer-events: none;
}
